# labs
# students
# template
# www
# labs/1_Simple_Websites/Sayjel_Patel/cat.jpg.jpg
# labs/1_Simple_Websites/Sayjel_Patel/index.html
# labs/1_Simple_Websites/Sayjel_Patel/style.css
# labs/1_Simple_Websites/Sayjel_Patel/week_01.html
# labs/1_Simple_Websites/Sayjel_Patel/weeks/01/1_1/index.html
# labs/1_Simple_Websites/Sayjel_Patel/weeks/01/1_1/sketch.js
# labs/1_Simple_Websites/Sayjel_Patel/weeks/01/1_2/index.html
# labs/1_Simple_Websites/Sayjel_Patel/weeks/01/1_2/sketch.js
# labs/1_Simple_Websites/Sayjel_Patel/weeks/01/1_3/index.html
# labs/1_Simple_Websites/Sayjel_Patel/weeks/01/1_3/sketch.js
# labs/1_Simple_Websites/Sayjel_Patel/weeks/01/1_4/index.html
# labs/1_Simple_Websites/Sayjel_Patel/weeks/01/1_4/sketch.js
# labs/1_Simple_Websites/Sayjel_Patel/weeks/01/index.html
# labs/1_Simple_Websites/Sayjel_Patel/weeks/01/reflection.html
# labs/2_Functions/2_1_Random/index.html
# labs/2_Functions/2_1_Random/sketch.js
# labs/2_Functions/2_2_Sin/index.html
# labs/2_Functions/2_2_Sin/sketch.js
# labs/2_Functions/2_3_Perlin/index.html
# labs/2_Functions/2_3_Perlin/sketch.js
# labs/2_Functions/2_3_Polar/index.html
# labs/2_Functions/2_3_Polar/sketch.js
# labs/2_Functions/2_4_Text/index.html
# labs/2_Functions/2_4_Text/sketch.js
# labs/2_Functions/Class_Exercises/index.html
# labs/2_Functions/Class_Exercises/sketch.js
# labs/2_Functions/Inspiration/26681762-black-polka-dots-pattern-background.jpg
# labs/2_Functions/Inspiration/3e2c158f902792df727804668c870950.jpg
# labs/2_Functions/Inspiration/afec02fd8a11a70f46e08fc6ce3808cd.jpg
# labs/2_Functions/Inspiration/dots_01.jpg
# labs/2_Functions/Inspiration/images (1).jpg
# labs/2_Functions/Inspiration/images (1).png
# labs/2_Functions/Inspiration/images (2).jpg
# labs/2_Functions/Inspiration/images (3).jpg
# labs/2_Functions/Inspiration/images.jpg
# labs/2_Functions/Inspiration/images.png
# labs/2_Functions/Inspiration/unnamed.jpg
# students/.DS_Store
# students/ABDEL/.DS_Store
# students/ABDEL/index.html
# students/ABDEL/mysteriousdestiny.mp3
# students/ABDEL/style.css
# students/ABDEL/week_01.html
# students/ABDEL/week_02.html
# students/ABDEL/week_03.html
# students/ABDEL/week_04.html
# students/ABDEL/week_05.html
# students/ABDEL/week_06.html
# students/ABDEL/week_07.html
# students/ABDEL/week_08.html
# students/ABDEL/week_09.html
# students/ABDEL/week_10.html
# students/ABDEL/week_11.html
# students/ABDEL/week_12.html
# students/ABDEL/week_13.html
# students/ABDEL/week_14.html
# students/ABDEL/week_15.html
# students/ABDEL/week_16.html
# students/ABDEL/weeks/01/1_1/index.html
# students/ABDEL/weeks/01/1_1/sketch.js
# students/ABDEL/weeks/01/index.html
# students/ABDEL/weeks/01/reflection.html
# students/ABDEL/weeks/02/1_1/index.html
# students/ABDEL/weeks/02/1_1/sketch.js
# students/ABDEL/weeks/02/index.html
# students/ABDEL/weeks/02/reflection.html
# students/ABDEL/weeks/03/1_1/index.html
# students/ABDEL/weeks/03/1_1/sketch.js
# students/ABDEL/weeks/03/index.html
# students/ABDEL/weeks/03/reflection.html
# students/ABDEL/weeks/04/1_1/index.html
# students/ABDEL/weeks/04/1_1/sketch.js
# students/ABDEL/weeks/04/index.html
# students/ABDEL/weeks/04/reflection.html
# students/ABDEL/weeks/05/1_1/index.html
# students/ABDEL/weeks/05/1_1/sketch.js
# students/ABDEL/weeks/05/index.html
# students/ABDEL/weeks/05/reflection.html
# students/ABDEL/weeks/06/1_1/index.html
# students/ABDEL/weeks/06/1_1/sketch.js
# students/ABDEL/weeks/06/index.html
# students/ABDEL/weeks/06/reflection.html
# students/ABDEL/weeks/07/1_1/index.html
# students/ABDEL/weeks/07/1_1/sketch.js
# students/ABDEL/weeks/07/index.html
# students/ABDEL/weeks/07/reflection.html
# students/ABDEL/weeks/08/1_1/index.html
# students/ABDEL/weeks/08/1_1/sketch.js
# students/ABDEL/weeks/08/index.html
# students/ABDEL/weeks/08/reflection.html
# students/ABDEL/weeks/09/1_1/index.html
# students/ABDEL/weeks/09/1_1/sketch.js
# students/ABDEL/weeks/09/index.html
# students/ABDEL/weeks/09/reflection.html
# students/ABDEL/weeks/10/1_1/index.html
# students/ABDEL/weeks/10/1_1/sketch.js
# students/ABDEL/weeks/10/index.html
# students/ABDEL/weeks/10/reflection.html
# students/ABDEL/weeks/11/1_1/index.html
# students/ABDEL/weeks/11/1_1/sketch.js
# students/ABDEL/weeks/11/index.html
# students/ABDEL/weeks/11/reflection.html
# students/ABDEL/weeks/12/1_1/index.html
# students/ABDEL/weeks/12/1_1/sketch.js
# students/ABDEL/weeks/12/index.html
# students/ABDEL/weeks/12/reflection.html
# students/ABDEL/weeks/13/1_1/index.html
# students/ABDEL/weeks/13/1_1/sketch.js
# students/ABDEL/weeks/13/index.html
# students/ABDEL/weeks/13/reflection.html
# students/ABDEL/weeks/14/1_1/index.html
# students/ABDEL/weeks/14/1_1/sketch.js
# students/ABDEL/weeks/14/index.html
# students/ABDEL/weeks/14/reflection.html
# students/ABDEL/weeks/15/1_1/index.html
# students/ABDEL/weeks/15/1_1/sketch.js
# students/ABDEL/weeks/15/index.html
# students/ABDEL/weeks/15/reflection.html
# students/ABDEL/weeks/16/1_1/index.html
# students/ABDEL/weeks/16/1_1/sketch.js
# students/ABDEL/weeks/16/index.html
# students/ABDEL/weeks/16/reflection.html
# students/sana/.DS_Store
# students/sana/index.html
# students/sana/style.css
# students/sana/week_01.html
# students/sana/weeks/01/1_1/index.html
# students/sana/weeks/01/1_1/sketch.js
# students/sana/weeks/01/index.html
# students/sana/weeks/01/reflection.html
# students/shahzaadee/index.html
# students/shahzaadee/style.css
# students/shahzaadee/week_01.html
# students/shahzaadee/weeks/01/1_1/index.html
# students/shahzaadee/weeks/01/1_1/sketch.js
# students/shahzaadee/weeks/01/index.html
# students/shahzaadee/weeks/01/reflection.html
# www/.DS_Store
# www/assets/clocks.jpg
# www/assets/didi-logo.png
# www/assets/three/FirstPersonControls-0.0.0.js
# www/Chapter_One.html
# www/Chapter_Two.html
# www/examples/1_Text/1_1/.DS_Store
# www/examples/1_Text/1_1/index.html
# www/examples/1_Text/1_1/package-lock.json
# www/examples/1_Text/1_1/package.json
# www/examples/1_Text/1_1/sketch.js
# www/examples/1_Text/1_1/style.css
# www/examples/1_Text/1_2 Introduction/.DS_Store
# www/examples/1_Text/1_2 Introduction/index.html
# www/examples/1_Text/1_2 Introduction/popup.css
# www/examples/1_Text/1_2 Introduction/sketch.js
# www/examples/1_Text/1_2 Introduction/style.css
# www/examples/1_Text/1_2 Introduction/syllabus.html
# www/sketch.js
www/students.html
www/syllabus.html
www/week_01.html
www/week_02.html
www/week_03.html
www/week_04.html
www/week_05.html
www/week_06.html
www/week_07.html
www/week_08.html
www/week_09.html
www/week_10.html
www/week_11.html
labs/1_Simple_Websites/Sayjel_Patel/cat.jpg.jpg
labs/1_Simple_Websites/Sayjel_Patel/index.html
labs/1_Simple_Websites/Sayjel_Patel/style.css
labs/1_Simple_Websites/Sayjel_Patel/week_01.html
labs/1_Simple_Websites/Sayjel_Patel/weeks/01/1_1/index.html
labs/1_Simple_Websites/Sayjel_Patel/weeks/01/1_1/sketch.js
labs/1_Simple_Websites/Sayjel_Patel/weeks/01/1_2/index.html
labs/1_Simple_Websites/Sayjel_Patel/weeks/01/1_2/sketch.js
labs/1_Simple_Websites/Sayjel_Patel/weeks/01/1_3/index.html
labs/1_Simple_Websites/Sayjel_Patel/weeks/01/1_3/sketch.js
labs/1_Simple_Websites/Sayjel_Patel/weeks/01/1_4/index.html
labs/1_Simple_Websites/Sayjel_Patel/weeks/01/1_4/sketch.js
labs/1_Simple_Websites/Sayjel_Patel/weeks/01/index.html
labs/1_Simple_Websites/Sayjel_Patel/weeks/01/reflection.html
labs/2_Functions/2_1_Random/index.html
labs/2_Functions/2_1_Random/sketch.js
labs/2_Functions/2_2_Sin/index.html
labs/2_Functions/2_2_Sin/sketch.js
labs/2_Functions/2_3_Perlin/index.html
labs/2_Functions/2_3_Perlin/sketch.js
labs/2_Functions/2_3_Polar/index.html
labs/2_Functions/2_3_Polar/sketch.js
labs/2_Functions/2_4_Text/index.html
labs/2_Functions/2_4_Text/sketch.js
labs/2_Functions/Class_Exercises/index.html
labs/2_Functions/Class_Exercises/sketch.js
labs/2_Functions/Inspiration/26681762-black-polka-dots-pattern-background.jpg
labs/2_Functions/Inspiration/3e2c158f902792df727804668c870950.jpg
labs/2_Functions/Inspiration/afec02fd8a11a70f46e08fc6ce3808cd.jpg
labs/2_Functions/Inspiration/dots_01.jpg
labs/2_Functions/Inspiration/images (1).jpg
labs/2_Functions/Inspiration/images (1).png
labs/2_Functions/Inspiration/images (2).jpg
labs/2_Functions/Inspiration/images (3).jpg
labs/2_Functions/Inspiration/images.jpg
labs/2_Functions/Inspiration/images.png
labs/2_Functions/Inspiration/unnamed.jpg
students/.DS_Store
students/ABDEL/.DS_Store
students/ABDEL/index.html
students/ABDEL/mysteriousdestiny.mp3
students/ABDEL/style.css
students/ABDEL/week_01.html
students/ABDEL/week_02.html
students/ABDEL/week_03.html
students/ABDEL/week_04.html
students/ABDEL/week_05.html
students/ABDEL/week_06.html
students/ABDEL/week_07.html
students/ABDEL/week_08.html
students/ABDEL/week_09.html
students/ABDEL/week_10.html
students/ABDEL/week_11.html
students/ABDEL/week_12.html
students/ABDEL/week_13.html
students/ABDEL/week_14.html
students/ABDEL/week_15.html
students/ABDEL/week_16.html
students/ABDEL/weeks/01/1_1/index.html
students/ABDEL/weeks/01/1_1/sketch.js
students/ABDEL/weeks/01/index.html
students/ABDEL/weeks/01/reflection.html
students/ABDEL/weeks/02/1_1/index.html
students/ABDEL/weeks/02/1_1/sketch.js
students/ABDEL/weeks/02/index.html
students/ABDEL/weeks/02/reflection.html
students/ABDEL/weeks/03/1_1/index.html
students/ABDEL/weeks/03/1_1/sketch.js
students/ABDEL/weeks/03/index.html
students/ABDEL/weeks/03/reflection.html
students/ABDEL/weeks/04/1_1/index.html
students/ABDEL/weeks/04/1_1/sketch.js
students/ABDEL/weeks/04/index.html
students/ABDEL/weeks/04/reflection.html
students/ABDEL/weeks/05/1_1/index.html
students/ABDEL/weeks/05/1_1/sketch.js
students/ABDEL/weeks/05/index.html
students/ABDEL/weeks/05/reflection.html
students/ABDEL/weeks/06/1_1/index.html
students/ABDEL/weeks/06/1_1/sketch.js
students/ABDEL/weeks/06/index.html
students/ABDEL/weeks/06/reflection.html
students/ABDEL/weeks/07/1_1/index.html
students/ABDEL/weeks/07/1_1/sketch.js
students/ABDEL/weeks/07/index.html
students/ABDEL/weeks/07/reflection.html
students/ABDEL/weeks/08/1_1/index.html
students/ABDEL/weeks/08/1_1/sketch.js
students/ABDEL/weeks/08/index.html
students/ABDEL/weeks/08/reflection.html
students/ABDEL/weeks/09/1_1/index.html
students/ABDEL/weeks/09/1_1/sketch.js
students/ABDEL/weeks/09/index.html
students/ABDEL/weeks/09/reflection.html
students/ABDEL/weeks/10/1_1/index.html
students/ABDEL/weeks/10/1_1/sketch.js
students/ABDEL/weeks/10/index.html
students/ABDEL/weeks/10/reflection.html
students/ABDEL/weeks/11/1_1/index.html
students/ABDEL/weeks/11/1_1/sketch.js
students/ABDEL/weeks/11/index.html
students/ABDEL/weeks/11/reflection.html
students/ABDEL/weeks/12/1_1/index.html
students/ABDEL/weeks/12/1_1/sketch.js
students/ABDEL/weeks/12/index.html
students/ABDEL/weeks/12/reflection.html
students/ABDEL/weeks/13/1_1/index.html
students/ABDEL/weeks/13/1_1/sketch.js
students/ABDEL/weeks/13/index.html
students/ABDEL/weeks/13/reflection.html
students/ABDEL/weeks/14/1_1/index.html
students/ABDEL/weeks/14/1_1/sketch.js
students/ABDEL/weeks/14/index.html
students/ABDEL/weeks/14/reflection.html
students/ABDEL/weeks/15/1_1/index.html
students/ABDEL/weeks/15/1_1/sketch.js
students/ABDEL/weeks/15/index.html
students/ABDEL/weeks/15/reflection.html
students/ABDEL/weeks/16/1_1/index.html
students/ABDEL/weeks/16/1_1/sketch.js
students/ABDEL/weeks/16/index.html
students/ABDEL/weeks/16/reflection.html
students/sana/.DS_Store
students/sana/index.html
students/sana/style.css
students/sana/week_01.html
students/sana/weeks/01/1_1/index.html
students/sana/weeks/01/1_1/sketch.js
students/sana/weeks/01/index.html
students/sana/weeks/01/reflection.html
students/shahzaadee/index.html
students/shahzaadee/style.css
students/shahzaadee/week_01.html
students/shahzaadee/weeks/01/1_1/index.html
students/shahzaadee/weeks/01/1_1/sketch.js
students/shahzaadee/weeks/01/index.html
students/shahzaadee/weeks/01/reflection.html
template/p5 template/index.html
template/p5 template/sketch.js
template/student website template/index.html
template/student website template/style.css
template/student website template/week_01.html
template/student website template/weeks/01/1_1/index.html
template/student website template/weeks/01/1_1/sketch.js
template/student website template/weeks/01/index.html
template/student website template/weeks/01/reflection.html
template/three dot js template/app.js
template/three dot js template/index.html
www/.DS_Store
www/assets/clocks.jpg
www/assets/didi-logo.png
www/assets/three/FirstPersonControls-0.0.0.js
www/Chapter_One.html
www/Chapter_Two.html
www/examples/1_Text/1_1/.DS_Store
www/examples/1_Text/1_1/index.html
www/examples/1_Text/1_1/package-lock.json
www/examples/1_Text/1_1/package.json
www/examples/1_Text/1_1/sketch.js
www/examples/1_Text/1_1/style.css
www/examples/1_Text/1_2 Introduction/.DS_Store
www/examples/1_Text/1_2 Introduction/index.html
www/examples/1_Text/1_2 Introduction/popup.css
www/examples/1_Text/1_2 Introduction/sketch.js
www/examples/1_Text/1_2 Introduction/style.css
