/* div class based on id */


body{

	background-color:pink;

	width: 100vw;

	font-family: 'consolas';
	color: #AA3939;
	padding: 2vw;
	justify-content: center;
	align-items: center;

}




h2{
	color: #FFAAAA;
}

#img1{
	width:10%;
}

#p5{
	position: relative;
}



/*  min-width: 290px;
  color: #4d4e53;
  background-color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
  padding-right: 5;
  overflow-x:hidden;*/